<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="content-wrapper">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/navigation.ejs') %>
      <main>
        <h1><%= title %></h1>
        <%- messages() %>
        <!-- Flash messages -->
        <form action="/account/register" method="POST">
          <label for="account_firstname">First Name:</label>
          <input
            type="text"
            id="account_firstname"
            name="account_firstname"
            required
          />

          <label for="account_lastname">Last Name:</label>
          <input
            type="text"
            id="account_lastname"
            name="account_lastname"
            required
          />

          <label for="account_email">Email:</label>
          <input
            type="email"
            id="account_email"
            name="account_email"
            required
          />

          <label for="account_password">Password:</label>
          <input
            type="password"
            id="account_password"
            name="account_password"
            minlength="12"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}"
            title="Password must be at least 12 characters long, contain at least one uppercase letter, one number, and one special character."
            required
          />

          <button type="submit">Register</button>
        </form>
      </main>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
