<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="content-wrapper">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/navigation.ejs') %>
      <main>
        <h1>Add New Classification</h1>
        <%- messages() %>
        <% if (errors) { %>
          <ul class="notice">
            <% errors.array().forEach(error => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        <% } %>
        <form action="/inv/add-classification" method="POST">
          <label for="classification_name">Classification Name:</label>
          <input
            type="text"
            id="classification_name"
            name="classification_name"
            required
            pattern="^[a-zA-Z0-9]+$"
          />
          <button type="submit">Add Classification</button>
        </form>
      </main>

      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
