<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="content-wrapper">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/navigation.ejs') %>
      <main>
        <h1><%= title %></h1>
        <p>Confirm Deletion - The delete is permanent.</p>
        <%- messages() %> <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <% } %>
        <form action="/inv/delete" method="POST" id="deleteForm">
          <input type="hidden" name="inv_id" value="<%= locals.inv_id %>" />
          <label for="inv_make">Make:</label>
          <input
            type="text"
            id="inv_make"
            name="inv_make"
            value="<%= locals.inv_make %>"
            readonly
          />
          <label for="inv_model">Model:</label>
          <input
            type="text"
            id="inv_model"
            name="inv_model"
            value="<%= locals.inv_model %>"
            readonly
          />
          <label for="inv_year">Year:</label>
          <input
            type="text"
            id="inv_year"
            name="inv_year"
            value="<%= locals.inv_year %>"
            readonly
          />
          <label for="inv_price">Price:</label>
          <input
            type="text"
            id="inv_price"
            name="inv_price"
            value="<%= locals.inv_price %>"
            readonly
          />
          <button type="submit">Delete</button>
        </form>
      </main>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
