<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="content-wrapper">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/navigation.ejs') %>
      <main>
        <h1>Inventory Management</h1>
        <% if (locals.message) { %>
        <p><%= message %></p>
        <% } %>
        <ul class="inventory-management-list">
          <li><a href="/inv/add-classification">Add New Classification</a></li>
          <li><a href="/inv/add-inv">Add New Inventory</a></li>
        </ul>
      </main>

      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
